.overlay-wrapper {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.selection-box {
    pointer-events: none;
    position:absolute;
    background-color: rgba(127, 127, 255, 0.3);
    border-color: black;
    border-width: 1px;
    border-style: dashed;
}

.selecting-box-hidden {
    visibility: hidden;
}
